/** Add css rules here for your application. */
body{
	font-family: Vollkorn !important;
	font-size: 15px !important;
	font-style: normal;
	font-variant: normal;
	line-height: 26.4px;
}

/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}
.centerHeader{
	text-align: center;
}
input {
    width: 300px !important;
    height: 22px !important;
    border-radius: 2px;
}
.com-sencha-gxt-theme-blue-client-panel-BlueFramedPanelAppearance-BlueFramePanelNestedDivFrameStyle-topLeft{
	display : none !important;
}
.northDataContainer{
    padding: 10px;
    border-radius: 5px;
    margin-right: 20px;
    float: right;
    margin-top: 10px;
    box-shadow: 5px 5px 5px rgba(136, 136, 136, 0.35);
}
.centerBody{
	margin-top: 20px;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
.menuTree {
	overflow : hidden !important;
}
.menuFilter input{
	width: 210px !important;
	height: 18px !important;
	margin-top: 2px;
}
.com-sencha-gxt-theme-base-client-tree-TreeBaseAppearance-TreeBaseStyle-element{
	height: 24px !important;
}
.githubLink{
	background-image: url("images/git.png");
}
.gwtDescription{
	margin-left: -440px;
    font-size: 19px;
    color: darkred;
    font-family: serif;
    font-weight: bold;
    font-style: italic;
    margin-top: 45px;
}